<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Flow Dashboard</title>
    <link rel="stylesheet" href="../build/public/css/main.css">
</head>
<body>
    <div class="main-grid">
        <div class="exchange">
            <h2 class="exchange__name">Binance - EOS</h2>
            <div class="exchange__filter exchange__filter--1">
                <input type="number" class="filter__input" id="binance-eos-filter" value="1000">
                <button onclick="resetBinanceEosFilter()" class="btn btn-blue">Reset</button>
                <div class="binance-eos-trades filter__trades"></div>
            </div>
            <div class="exchange__prices exchange__prices--1" id="prices-eos-binance"></div>
        </div>
        <div class="exchange">
            <h2 class="exchange__name">Bitfinex - EOS</h2>
            <div class="exchange__filter exchange__filter--2">
                <input type="number" class="filter__input" id="bitfinex-eos-filter" value="1000">
                <button onclick="resetBitfinexEosFilter()" class="btn btn-blue">Reset</button>
                <div class="bitfinex-eos-trades filter__trades"></div>
            </div>
            <div class="exchange__prices exchange__prices--2" id="prices-eos-bitfinex"></div>
        </div>
        <div class="exchange">
            <h2 class="exchange__name">Binance - BTC</h2>
            <div class="exchange__filter exchange__filter--1">
                <input type="number" class="filter__input" id="binance-btc-filter" value="1">
                <button onclick="resetBinanceBtcFilter()" class="btn btn-blue">Reset</button>
                <div class="binance-btc-trades filter__trades"></div>
            </div>
            <div class="exchange__prices exchange__prices--1" id="prices-btc-binance"></div>
        </div>
        <div class="exchange">
            <h2 class="exchange__name">Bitfinex - BTC</h2>
            <div class="exchange__filter exchange__filter--2">
                <input type="number" class="filter__input" id="bitfinex-btc-filter" value="1">
                <button onclick="resetBitfinexBtcFilter()" class="btn btn-blue">Reset</button>
                <div class="bitfinex-btc-trades filter__trades"></div>
            </div>
            <div class="exchange__prices exchange__prices--2" id="prices-btc-bitfinex"></div>
        </div>
    </div>
    <template id="row--buy">
        <div class="row row--buy">
            <div class="row__price"></div>
            <div class="row__volume"></div>
            <div class="row__time"></div>
        </div>
    </template>
    <template id="row--sell">
        <div class="row row--sell">
            <div class="row__price"></div>
            <div class="row__volume"></div>
            <div class="row__time"></div>
        </div>
    </template>
    <template id="row--mid">
        <div class="row row--mid">
            <div class="row__level-2"></div>
            <div class="row__price"></div>
            <div class="row__volume">
                <span class="sold"></span>
                <span class="bought"></span>
            </div>
        </div>
    </template>
    <template id="row--ask">
        <div class="row row--ask">
            <div class="row__level-2"></div>
            <div class="row__price"></div>
            <div class="row__volume">
                <span class="sold"></span>
                <span class="bought"></span>
            </div>
        </div>
    </template>
    <template id="row--bid">
        <div class="row row--bid">
            <div class="row__level-2"></div>
            <div class="row__price"></div>
            <div class="row__volume">
                <span class="sold"></span>
                <span class="bought"></span>
            </div>
        </div>
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="../build/public/js/appendRows.js"></script>
</body>
</html>